.footer {
  border-top:1px solid rgb(228, 207, 207);
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    font-size: 16px; 
    color: #3198dd;
    display: flex;    
    align-items: center;    
    justify-content: flex-start;
  }

  .footer-image {
    width: 80px; 
    height: 30px; 
  }
  

