.footer {
    display: flex;
    gap: 100px;
    background: #1D2228;
    color: white;
    padding: 5px 40px;
    border-radius: 6px;
}

.footer-left {
    width: 50%;
}

.footer-left p {
    font-size: 18px;
    font-weight: bold;
}

.footer-left input {
    padding: 8px 16px;
    border-radius: 6px;
    border: none;
    margin-right: 10px;
    width: 300px;
}

.footer-left button {
    padding: 8px 16px;
    background: #e64077;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    gap: 30px;
    font-size: 12px;
    align-items: center;
}

.footer-right {
    flex: 1;
    display: flex;
    gap: 200px;
    justify-content: center;
}

.footer-section {
    margin-bottom: 30px;
}

.footer-section h4 {
    font-weight: bold;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    cursor: pointer;
    transition: color 0.3s;
}

.footer-section ul li:hover {
    color: #e64077;
}
