.board {
    position: relative;
    height: 100px;
    width: 300px;
    border: 1px solid rgb(59, 207, 200);
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #333;
}


.board-image-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.board-image-button:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.board-image {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 4px;
}

.board-title,
.board-value,
.board-sub {
    text-align: left;
}
