.header {
    border-top: 1px solid rgb(228, 207, 207);
    border-right: 1px solid rgb(228, 207, 207);
    border-bottom: 1px solid rgb(228, 207, 207);
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    box-shadow: 0 2px 8px rgba(160, 140, 140, 0.1);
}

/* haizzzzzzzzz*/
.dashboard {
    margin-left: 40px; 
    padding-left: 10px; 
    color: #f06292; 
    margin: 0;
    font-size: 25px;
    font-weight: bold;
}

.search-container {
    display: inline-flex;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 5px 10px;
    width: 300px;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.iconright {
    display: flex;
    flex-direction: row; 
    gap: 10px; 
    margin-left: auto; 
}

.icon {
    width: 40px;
}

.search-text {
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-style: italic;
}
